# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# tmp files
**/CMakeFiles/
*.cmake.log 
*.make.log 
*.install.log 
*.ldconfig.log
CMakeCache.txt 
Makefile 
cmake_install.cmake
*.qmake*.log

# demo use example executable with pro from qmake
demo
demo.pro
